* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background: #222222;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1599px;
}


/* ==================== header ==================== */

/* ==================== btnmenu-logo ==================== */

header.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding: 10px 24px;
    background: #111111;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.btnmenu-logo {
    display: flex;
    align-items: center;
}

.linemenu {
    margin-right: 20px;
}

span.line {
    display: block;
    width: 20px;
    height: 1px;
    margin: 6px 0;
    background-color: #9b9b9b;
}

.logo img {
    width: 100px;
    height: 30px;
}

/* ==================== end btnmenu-logo ==================== */


/* ==================== inp-btnsearch ==================== */

.inp-btnsearch {
    display: flex;
    align-items: center;
    position: relative;
}

.inp-btnsearch span {
    position: absolute;
    right: 3%;
    pointer-events: none;
}

#mykeyword {
    width: 440px;
    height: 35px;
    padding: 0 55px 0 15px;
    font-size: 0.875rem;
    color: #4a4a4a;
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
}

#mykeyword:focus {
    outline: none;
    border: 1px solid #09de6e;
}

/* ==================== end inp-btnsearch ==================== */


/* ==================== load-reg-log ==================== */

.load-reg-log {
    display: flex;
    align-items: center;
}

.load button {
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: #09de6e;
    border: 1px solid #09de6e;
    color: #111111;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

.load button:hover {
    background: #47f598;
    border: 1px solid #47f598;
}

.load button i {
    padding-left: 3px;
}

.reg {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #4a4a4a;
}

.reg button {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background: #111111;
    border: 1px solid #bcbcbc;
    color: #e5e5e5;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

.reg button:hover {
    background: #fff;
    border: #fff;
    color: #111111;
}

.load-reg-log span {
    margin: 0 10px;
    color: #e5e5e5;
}

.load-reg-log a {
    color: #e5e5e5;
    text-decoration: underline;
}

/* ==================== end load-reg-log ==================== */

/* ==================== end header ==================== */





/* ==================== sidebar-content ==================== */

.sidebar-content {
    display: flex;
}


/* ==================== sidebar ==================== */

.sidebar {
    width: 220px;
    height: calc(100vh - 113px); /* ความสูงเต็มหน้าจอ ลบออกอีก 60px */
    background: #111111;
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.2);
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar { /* ลบ scrollbar แต่ยังสามารมทำงานได้ */
    display: none;
}

.box-sidebar-joox {
    padding: 10px 20px 0 22px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-bottom: 1px solid rgba(151,151,151,0.2);
}


/* ==================== box-one-nav ==================== */

.box-one-nav ul li {
    margin: 10px 0 10px 3px;
    line-height: 2;
}

.box-one-nav ul li a {
    display: flex;
    align-items: center;
    color: #bcbcbc;
}

.box-one-nav ul li a:hover {
    color: #09de6e;
}

.box-one-nav ul li a:focus {
    color: #09de6e;
}

.myjoox {
    font-size: 0.9rem;
    font-weight: 700;
}

.box-one-nav ul li a i.fsize {
    width: 24px;
    height: 24px;
    font-size: 18px; /* กำหนด class ใหม่ ให้กับ icon เป็น fsize แล้วกำหนดขนาด icon */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

/* ==================== end box-one-nav ==================== */


/* ==================== box-two-download ==================== */

.box-sidebar-joox-special {
    padding: 10px 15px 20px 15px;
    margin-right: 5px;
    border-bottom: 1px solid rgba(151,151,151,0.2);
}

.box-two-download img {
    max-width: 100%;
    height: auto;
}

.btn-downlode-app button {
    width: 180px;
    height: 27px;
    border-radius: 20px;
    background: #09de6e;
    border: 1px solid #09de6e;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

.btn-downlode-app button:hover {
    background: #47f598;
    border: 1px solid #47f598;
}

.btn-downlode-app button a {
    color: #111111;
}

/* ==================== end box-two-download ==================== */


/* ==================== box-three-browse ==================== */

.box-three-browse > span {
    color: #bcbcbc;
    font-size: 0.7rem;
    font-weight: 700;
}

.box-three-browse ul {
    margin-top: 20px;
}

.box-three-browse ul li {
    margin: 10px 0 10px 3px;
    line-height: 2;
}

.box-three-browse ul li a {
    display: flex;
    align-items: center;
    color: #bcbcbc;
}

.box-three-browse ul li a:hover {
    color: #09de6e;
}

.box-three-browse ul li a:focus {
    color: #09de6e;
}

.list-browse {
    font-size: 0.9rem;
}

.box-three-browse ul li a i.artist {
    width: 24px;
    height: 24px;
    background: #ba99ff;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.box-three-browse ul li a i.album {
    width: 24px;
    height: 24px;
    background: #ff8690;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.box-three-browse ul li a i.playlist {
    width: 24px;
    height: 24px;
    background: #59cdf6;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.box-three-browse ul li a i.chart {
    width: 24px;
    height: 24px;
    background: #69d49c;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.box-three-browse ul li a i.radio {
    width: 24px;
    height: 24px;
    background: #FFA33D;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

/* ==================== end box-three-browse ==================== */


/* ==================== box-four-login ==================== */

.box-four-login > span {
    color: #bcbcbc;
    font-size: 0.75rem;
    font-weight: 700;
}

.box-four-login ul {
    color: #959595;
    font-size: 0.75rem;
    margin: 15px 0;
}

.box-four-login ul li {
    line-height: 2;
}

.box-four-login ul li::before {
    content: "-";
    margin-right: 7px;
}

.box-btn-login {
    margin: 0 auto;
}

.btn-login {
    margin-bottom: 18px;
}

.btn-login button {
    width: 175px;
    height: 35px;
    border-radius: 20px;
    background: #111111;
    border: 1px solid #bcbcbc;
    color: #e5e5e5;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

.btn-login button:hover {
    background: #fff;
    border: #fff;
    color: #111111;
}

/* ==================== end box-four-login ==================== */


/* ==================== box-five-about ==================== */

.box-five-about ul {
    margin: 15px 0;
}

.box-five-about ul li {
    margin-bottom: 20px;
}

.box-five-about ul li a {
    color: #bcbcbc;
    font-size: 0.9rem;
}

.box-five-about ul li a:hover {
    color: #fff;
}

.box-icon-social {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 25px 0;
}

.box-icon-social a {
    color: #bcbcbc;
    transition: all 0.4s;
}

.box-icon-social a:hover {
    color: #fff;
}

/* ==================== end box-five-about ==================== */


/* ==================== box-six-copyright ==================== */

.box-six-copyright-list1 ul {
    margin-bottom: 20px;
}

.box-six-copyright-list1 ul li a {
    color: #959595;
    font-size: 0.75rem;
    transition: all 0.3s;
}

.box-six-copyright-list1 ul li a:hover {
    color: #fff;
}

.box-six-copyright-list2 span {
    display: block;
    color: #bcbcbc;
    font-size: 0.8rem;
    line-height: 1.5;
}

.box-six-copyright-list2 {
    margin-bottom: 20px;
}

.not-border-botton {
    border: none;
}

/* ==================== end box-six-copyright ==================== */

/* ==================== end sidebar ==================== */





/* ==================== content ==================== */

.content {
    max-width: 1380px;
    height: calc(100vh - 113px);
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #333333;
}


/* ==================== header-content ==================== */

.header-content {
    margin: 20px 0;
}

.box-slide {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
}

.box-slide-img {
    width: 100%;
    height: 100%;
}
/* 
.box-slide-img {
    filter: grayscale(90%);
}

.fsslide {
    font-size: 30px;
} */


/* ==================== box-slide-one ==================== */

.box-slide-one {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-slide-one a img {
    width: 668px;
}

.overlay-box-slide-one {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: absolute;
    top: 0;
    cursor: pointer;
}

.iconarrow-box-slide-one a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* เพื่อจัดตำแหน่งให้อยู่กึ่งกลาง */
    color: #fff;
    font-size: 30px;
    transition: all 0.3s;
}

.box-slide-one:hover .iconarrow-box-slide-one a i { /* วิธีการ hover ซ้อน class */ /* hover ที่คลาส box-slide-one แต่คลาส iconarrow-box-slide-one a i ที่เป็น element ลูก เปลี่ยนแปลง */
    color: #09de6e;
    left: 45%;
}

/* ==================== end box-slide-one ==================== */


/* ==================== box-slide-two ==================== */

.box-slide-two {
    position: relative;
    width: 100%;
    height: 100%;
}

.box-slide-two-not-hover-ul {
    width: 100%;
    height: 100%;
}

.overlay-box-slide-two {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s linear;
}

.box-slide-two-not-hover-ul:hover .overlay-box-slide-two {
    opacity: 1;
}

.iconarrow-box-slide-two a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* เพื่อจัดตำแหน่งให้อยู่กึ่งกลาง */
    font-size: 60px;
    color: #fff;
    transition: color 0.1s;
}

.iconarrow-box-slide-two a:hover {
    color: #09de6e;
}

.box-slide-two ul {
    position: absolute;
    top: 89%;
    left: 42%;
}

ul.btn-slide {
    cursor: default;
}

ul.btn-slide li{
    display: inline-block;
}

ul.btn-slide li button {
    display: block;
    width: 9px;
    height: 9px;
    margin: 0 1px;
    border-radius: 50%;
    border-style: none;
    outline: none;
    cursor: pointer;
    background: rgba(125, 125, 125, 0.5);
}

ul.btn-slide li button:focus {
    background: #fff;
}

/* ==================== end box-slide-two ==================== */


/* ==================== box-slide-three ==================== */

.box-slide-three {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-slide-three a img {
    width: 668px;
}

.overlay-box-slide-three {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: absolute;
    top: 0;
    cursor: pointer;
}

.iconarrow-box-slide-three a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* เพื่อจัดตำแหน่งให้อยู่กึ่งกลาง */
    color: #fff;
    font-size: 30px;
    transition: all 0.3s;
}

.box-slide-three:hover .iconarrow-box-slide-three a i { /* วิธีการ hover ซ้อน class */ /* hover ที่คลาส box-slide-three แต่คลาส iconarrow-box-slide-three a i ที่เป็น element ลูก เปลี่ยนแปลง */
    color: #09de6e;
    left: 55%;
}

/* ==================== end box-slide-three ==================== */
/* box-slide-one - box-slide-three เป็นแค่ตัวอย่างในการทำหน้าเว็บให้เหมือนเฉยๆ ถ้าทำจริงน่าจะทำอีกแบบ ต้องไปศึกษา!! */





/* ==================== section box-sec-wrap ==================== */

.box-sec-wrap {
    max-width: 1100px;
    margin: 0 auto;
}


/* ==================== หัวข้อแต่ละ section เช่น ชาร์ตเพลงฮิต เพลงใหม่ล่าสุด ==================== */

.the-topic-sec {
    margin: 45px auto 30px;
    width: 200px;
    text-align: center;
}

.the-topic-sec a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.the-topic-sec a:hover {
    color: #09de6e;
}

.moveright {
    position: relative;
    left: 13px;
    font-size: 0.55em;
    transition: all 0.4s;
}

.the-topic-sec a:hover .moveright {
    left: 20px;
}

/* ==================== จบหัวแต่ละ section ==================== */


/* ==================== top100/top50/tophit ==================== */

.list-top-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}


/* ==================== top 100 ==================== */

.top-100-wrap {
    width: 350px;
}

.top-100 {
    display: flex;
}

.boxshaplay {
    position: relative;
    width: 120px;
    height: 120px;
}

.boxshaplay img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100% );
    overflow: hidden;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.boxshaplay:hover .overlay {
    height: 50%;
}

.iconplay {
    position: absolute;
    top: 60%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.iconplay a {
    color: white;
    font-size: 30px;
}

.top-100-list {
    width: 230px;
    height: 120px;
    background: rgb(174, 134, 99);
    padding: 5px 10px 0 10px;
}

.top-100-list a span {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(255, 255, 255);;
}

ul.song-list {
    margin-top: 15px;
}


ul.song-list li {
    display: flex;
}

ul.song-list li:nth-child(1)::before {  /* เพิ่ม content ใน li และกำหนดขนาดของ content และจัดกึ่งกลางด้วย flex */
    content: "1";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list li:nth-child(2)::before {
    content: "2";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list li:nth-child(3)::before {
    content: "3";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list li:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    color: rgb(255, 255, 255);
}

ul.song-list li a {
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(220, 220, 220);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

ul.song-list li a:hover {
    color: rgb(255, 255, 255);
}

/* ==================== end top 100 ==================== */


/* ==================== top 50 ==================== */

.top-50-wrap {
    width: 350px;
}

.top-50 {
    display: flex;
}

.boxshaplay-two {
    position: relative;
    width: 120px;
    height: 120px;
}

.boxshaplay-two img {
    width: 100%;
    height: auto;
}

.overlay-two {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100% );
    overflow: hidden;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.boxshaplay-two:hover .overlay-two {
    height: 50%;
}

.iconplay-two {
    position: absolute;
    top: 60%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.iconplay-two a {
    color: white;
    font-size: 30px;
}

.top-50-list-two {
    width: 230px;
    height: 120px;
    background: rgb(13, 13, 13);
    padding: 5px 10px 0 10px;
}

.top-50-list-two a span {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(255, 255, 255);;
}

ul.song-list-two {
    margin-top: 15px;
}


ul.song-list-two li {
    display: flex;
}

ul.song-list-two li:nth-child(1)::before {  /* เพิ่ม content ใน li และกำหนดขนาดของ content และจัดกึ่งกลางด้วย flex */
    content: "1";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-two li:nth-child(2)::before {
    content: "2";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-two li:nth-child(3)::before {
    content: "3";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-two li:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    color: rgb(255, 255, 255);
}

ul.song-list-two li a {
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(220, 220, 220);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

ul.song-list-two li a:hover {
    color: rgb(255, 255, 255);
}

/* ==================== end top 50 ==================== */


/* ==================== top hit ==================== */

.top-hit-wrap {
    width: 350px;
}

.top-hit {
    display: flex;
}

.boxshaplay-three {
    position: relative;
    width: 120px;
    height: 120px;
}

.boxshaplay-three img {
    width: 100%;
    height: auto;
}

.overlay-three {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100% );
    overflow: hidden;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.boxshaplay-three:hover .overlay-three {
    height: 50%;
}

.iconplay-three {
    position: absolute;
    top: 60%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.iconplay-three a {
    color: white;
    font-size: 30px;
}

.top-hit-list-three {
    width: 230px;
    height: 120px;
    background: rgb(144, 121, 112);
    box-shadow: -10px 0 10px 0 rgba(0,0,0,0.2) inset;
    padding: 5px 10px 0 10px;
}

.top-hit-list-three a span {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(255, 255, 255);;
}

ul.song-list-three {
    margin-top: 15px;
}


ul.song-list-three li {
    display: flex;
}

ul.song-list-three li:nth-child(1)::before {  /* เพิ่ม content ใน li และกำหนดขนาดของ content และจัดกึ่งกลางด้วย flex */
    content: "1";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-three li:nth-child(2)::before {
    content: "2";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-three li:nth-child(3)::before {
    content: "3";
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(220, 220, 220);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}

ul.song-list-three li:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    color: rgb(255, 255, 255);
}

ul.song-list-three li a {
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(220, 220, 220);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

ul.song-list-three li a:hover {
    color: rgb(255, 255, 255);
}


.arrow-right-list-top {
    display: flex;
    align-items: center;
}

.arrow-right-list-top a {
    font-size: 20px;
    color: #bcbcbc;
}

/* ==================== end top hit ==================== */

/* ==================== end top100/top50/tophit ==================== */

/* ==================== end section song-hit ==================== */





/* ==================== section sec-grid-col ==================== */

.sec-grid-col {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-gap: 15px;
}


/* ==================== col-one - col-six ==================== */

.box-music {
    position: relative;
    width: 170px;
    height: 170px;
}

.box-music a img {
    width: 100%;
    height: auto;
}

.overlay-box-music {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100% );
    width: 100%;
    height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.box-music:hover .overlay-box-music {
    height: 50%;
}

.iconplay-box-music {
    position: absolute;
    top: 50%;
    right: 5%;
}

.iconplay-box-music a i {
    color: white;
    font-size: 30px;
}

.playlist-box-music {
    width: 170px;
    margin-top: 10px;
}

.playlist-box-music a {
    color: #bcbcbc;
    font-size: 0.875rem;
    transition: color 0.2s;
}

.playlist-box-music a:hover {
    color: #fff;
}


/* ==================== band artist ==================== */

span.band-artist {
    cursor: pointer;
}

span.band-artist a {
    font-size: 0.75em;
    line-height: 1.6;
    color: #959595;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

span.band-artist a:hover {
    color: #dcdcdc;
}

/* ==================== end band artist ==================== */

/* ==================== end col-one - col-six ==================== */

/* ==================== end section sec-grid-col ==================== */





/* ==================== Hit artist ==================== */

.grid-col-center {
    margin: 0 auto;
}

.box-music-radius {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
}

.box-music-radius a img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.overlay-box-music-radius {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: all 0.2s linear;
}

.grid-col-center:hover .overlay-box-music-radius {
    opacity: 1;
}

.grid-col-center:hover .playlist-box-music-radius a {
    color: #fff;
}

.iconplay-box-music-radius {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconplay-box-music-radius a {
    color: white;
    font-size: 40px;
}

.playlist-box-music-radius {
    width: 150px;
    margin-top: 15px;
    text-align: center;
}

.playlist-box-music-radius a {
    color: #bcbcbc;
    font-size: 0.875rem;
    transition: color 0.2s linear;
}

.playlist-box-music-radius a:hover {
    color: #fff;
}

/* ==================== end hit artist ==================== */





/* ==================== column song ==================== */

.sec-grid-column-song {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.column-song {
    width: 535px;
    height: 160px;
    display: flex;
}

.column-song-img a img {
    width: 285px;
    height: 160px;
}

.column-song-explain-view-like-one {
    width: 100%;
    height: auto;
    background: rgb(191, 81, 90);
    padding: 25px 17px 20px 17px;
}

.column-song-explain-view-like-two {
    width: 100%;
    height: auto;
    background: rgb(75, 45, 109);
    box-shadow: -10px 0 10px 0 rgba(0,0,0,0.2) inset;
    padding: 25px 17px 20px 17px;
}

.column-song-explain a {
    font-size: 0.875rem;
    color: rgb(220, 220, 220);
    line-height: 22px;
    transition: color 0.2s;
}

.column-song-explain a:hover {
    color: rgb(255, 255, 255);
}

.column-view-like {
    display: flex;
    margin-top: 50px;
}

.view, .like {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.view span, .like span {
    color: rgb(220, 220, 220);
    font-size: 0.875rem;
    cursor: default;
}

.view::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06e";
    color: rgb(236, 236, 236);
    font-size: 11px;
    margin-right: 7px;
}

.like::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f164";
    color: rgb(236, 236, 236);
    font-size: 11px;
    margin-right: 7px;
}

.arrow-right-column-song {
    display: flex;
    align-items: center;
}

.arrow-right-column-song a {
    font-size: 20px;
    color: #bcbcbc;
}

/* ==================== end column song ==================== */





/* ==================== sitemap ==================== */

.the-topic-sitemap {
    margin-top: 65px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(55, 55, 55);
}

input#check-sitemap {
    display: none;
}

label.sitemap-dropdown {
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(149, 149, 149);
    font-size: 0.875rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.2s;
}

label.sitemap-dropdown:hover {
    color: #fff;
}

label.sitemap-dropdown::before {
    content: "แสดง";
    margin-right: 5px;
    font-size: 0.85rem;
}

input#check-sitemap:checked + label.sitemap-dropdown::before { /* เมื่อcheckแท็กinput แล้ว แท็กlabelที่ต่อจากแท็กinput จะเปลี่ยน content จาก แสดง เป็น ปิด */
    content: "ปิด";
    margin-right: 5px;
    font-size: 0.85rem;
}

label.sitemap-dropdown::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    margin-left: 5px;
}

input#check-sitemap:checked + label.sitemap-dropdown::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    margin-left: 5px;
}

.main-sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 0;
    overflow: hidden;
    /* transition: all 1s; */
}

input#check-sitemap:checked ~ .main-sitemap {
    height: 230px;
}

.sitemap-topic-list {
    width: 100%;
    height: 120px;
}

.sitemap-topic-list > span a {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 0.875rem;
}

.sitemap-list span a {
    font-size: 0.75rem;
    color: rgb(149, 149, 149);
    letter-spacing: 0.2px;
    transition: color 0.2s;
}

.sitemap-list span a:hover {
    color: #fff;
}

.sitemap-list span {
    font-size: 0.75rem;
    color: rgb(149, 149, 149);
    letter-spacing: 1px;
    cursor: default;
}

/* ==================== end sitemap ==================== */





/* ==================== music-player ==================== */

.music-player-wrap {
    width: 100%;
    height: 55px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #111111;
}

.music-player {
    width: 100%;
    height: 55px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
}


/* ==================== music-playing ==================== */

.music-playing {
    width: 300px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-playing__media {
    width: 75px;
    height: 75px;
    background: url(https://cdn2-joox.isanook.com/static/di/jooxPlayer/vinyl.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -12px;
    cursor: pointer;
}

.music-playing__image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.music-icon-playing {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-icon-playing {
    background-color: #111111;
    border: 1px solid #111111;
    outline: none;
    cursor: pointer;
    position: relative;
}

.hover-text-icon-playing {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap; /* จัดข้อความให้เป็นบรรทัดเดียว */
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-playing--hover:hover .hover-text-icon-playing {
    opacity: 1;
}

/* ==================== music-playing__btn-icon-random ==================== */

input#check-icon-random {
    display: none;
}

label.btn-icon-random::before {
    content: "เปิดเล่นแบบสุ่ม";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-playing--hover:hover label.btn-icon-random::before {
    opacity: 1;
}

input#check-icon-random:checked + label.btn-icon-random::before {
    content: "ปิดเล่นแบบสุ่ม";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
}

label.btn-icon-random::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f074";
    font-style: normal; /* ไม่ให้ตัวหนังสือเอียงจากแท็ก i */
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
    transform: scale(1);
}

input#check-icon-random:hover + label.btn-icon-random::after {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

input#check-icon-random:checked + label.btn-icon-random::after {
    color: rgb(255, 255, 255);
}

/* ==================== end music-playing__btn-icon-random ==================== */


/* ==================== music-playing__btn-icon-backward ==================== */

.btn-icon-backward::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f048";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.btn-icon-playing--hover:hover .btn-icon-backward::after {
    color: rgb(255, 255, 255);
}

/* ==================== end music-playing__btn-icon-backward ==================== */


/* ==================== music-playing__btn-icon-play-circle ==================== */

input#check-icon-play-circle {
    display: none;
}

label.btn-icon-play-circle::before {
    content: "เล่น";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-playing--hover:hover label.btn-icon-play-circle::before {
    opacity: 1;
}

input#check-icon-play-circle:checked + label.btn-icon-play-circle::before {
    content: "ปิด";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
}

label.btn-icon-play-circle::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-style: normal;
    font-size: 26px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.1s;
}

.btn-icon-playing--hover:hover label.btn-icon-play-circle::after {
    color: rgb(255, 255, 255);
}

input#check-icon-play-circle:checked + label.btn-icon-play-circle::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f28b";
    font-style: normal;
    font-size: 26px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.1s;
}

input#check-icon-play-circle:hover + label.btn-icon-play-circle::after {
    color: rgb(255, 255, 255);
}

/* ==================== end music-playing__btn-icon-play-circle ==================== */


/* ==================== music-playing__btn-icon-forward ==================== */

.btn-icon-forward::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f051";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.btn-icon-playing--hover:hover .btn-icon-forward::after {
    color: rgb(255, 255, 255);
}

/* ==================== end music-playing__btn-icon-forward ==================== */


/* ==================== music-playing__btn-icon-repeat ==================== */

input#check-icon-repeat {
    display: none;
}

label.btn-icon-repeat::before {
    content: "เปิดเล่นซ้ำเพลงเดียว";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-playing--hover:hover label.btn-icon-repeat::before {
    opacity: 1;
}

input#check-icon-repeat:checked + label.btn-icon-repeat::before {
    content: "ปิดเล่นซ้ำเพลงเดียว";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
}

.btn-icon-repeat::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f079";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
    transform: scale(1);
}

input#check-icon-repeat:hover + label.btn-icon-repeat::after {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

input#check-icon-repeat:checked + label.btn-icon-repeat::after {
    color: rgb(255, 255, 255);
}

/* ==================== end music-playing__btn-icon-repeat ==================== */

/* ==================== end music-playing ==================== */





/* ==================== music-time ==================== */

.music-time {
    width: 460px;
}

.music-time__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 3px 0;
}

.music-time__name__song {
    width: 105px;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-time__name__song__list-one a {
    font-weight: 600;
    color: rgb(220, 219, 219);
    transition: color 0.4s;
}

.music-time__name__song__list-two a {
    color: rgb(149, 149, 149);
    transition: color 0.4s;
}

.music-time__name__song__list-one a:hover,
.music-time__name__song__list-two a:hover {
    color: rgb(255, 255, 255);
}

.music-time__name__icon {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.btn-icon-time {
    background-color: #111111;
    border: 1px solid #111111;
    outline: none;
    cursor: pointer;
    position: relative;
}

.hover-text-icon-time {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap; /* จัดข้อความให้เป็นบรรทัดเดียว */
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-time--hover:hover .hover-text-icon-time {
    opacity: 1;
}

.btn-icon-star::after {
    width: 15px;
    height: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    font-style: normal;
    font-size: 14px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s;
}

.btn-icon-time--hover:hover .btn-icon-star::after {
    color: rgb(255, 255, 255);
}

.btn-icon-share::after {
    width: 15px;
    height: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14d";
    font-style: normal;
    font-size: 14px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s;
}

.btn-icon-time--hover:hover .btn-icon-share::after {
    color: rgb(255, 255, 255);
}

.music-time__time {
    height: 20px;
    display: flex;
    align-items: center;
}

.music-time__time__border {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-time__time__border::before {
    content: "00:00";
    font-size: 0.7em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.music-time__time__border::after {
    content: "03:36";
    font-size: 0.7em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.border__time {
    width: 370px;
    height: 2px;
}

/* ==================== end music-time ==================== */





/* ==================== music-sound ==================== */

.music-sound {
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-sound__sound {
    width: 105px;
    height: 40px;
}

.music-sound__sound__icon {
    width: 100%;
    height: 100%;
}

.btn-icon-sound {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    border: 1px solid #111111;
    outline: none;
    cursor: pointer;
    position: relative;
}

/* ==================== music-sound__btn-icon-sound-oc ==================== */

input#check-icon-sound {
    display: none;
}

label.btn-icon-sound-oc::before {
    content: "ปิดเสียง";
    position: absolute;
    top: -22px;
    left: -10%;
    /* transform: translate(-50%); */
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

.btn-icon-sound--hover:hover label.btn-icon-sound-oc::before {
    opacity: 1;
}

input#check-icon-sound:checked + label.btn-icon-sound-oc::before {
    content: "เปิดเสียง";
    position: absolute;
    top: -22px;
    left: -10%;
    /* transform: translate(-50%); */
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
}

label.btn-icon-sound-oc::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f028";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-icon-sound--hover:hover label.btn-icon-sound-oc::after {
    color: rgb(255, 255, 255);
}

input#check-icon-sound:checked + label.btn-icon-sound-oc::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6a9";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

input#check-icon-sound:hover + label.btn-icon-sound-oc::after {
    color: rgb(255, 255, 255);
}

/* ==================== music-sound__sound__border ==================== */

.music-sound__sound__border {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
}

.border__sound {
    width: 100%;
    height: 4px;
    border: 1px solid #111111;
    background-color: rgba(253, 252, 252, 0.2);
    position: relative;
    cursor: pointer;
}

.border__in__sound {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
}

input#check-icon-sound:checked ~ .music-sound__sound__border .border__sound .border__in__sound {
    width: 0%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
}

/* ==================== end music-sound__sound__border ==================== */

/* ==================== end music-sound__btn-icon-sound-oc ==================== */


/* ==================== music-sound__lyrics ==================== */

.music-sound__lyrics {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.btn-icon-music-lyrics::before {
    content: "เนื้อเพลง";
    position: absolute;
    top: -15px;
    left: 93.5%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

label.btn-icon-music-lyrics:hover::before {
    opacity: 1;
}

/* ==================== music-sound__lyrics__btn-icon-music-lyrics ==================== */

input#check-icon-lyrics {
    display: none;
}

label.btn-icon-music-lyrics::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f001";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.4s;
}

label.btn-icon-music-lyrics:hover::after {
    color: rgb(255, 255, 255);
}

.lyrics-song {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 1599px;
    height: 0;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    transition: all 1s;
}

input#check-icon-lyrics:checked ~ .lyrics-song {
    height: 450px;
}

.lyrics-song__music {
    position: absolute;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.lyrics-song__music::-webkit-scrollbar {
    display: none;
}

.lyrics-song__music__parag {
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    color: rgb(170, 170, 170);
    cursor: default;
}

/* ==================== end music-sound__lyrics__btn-icon-music-lyrics ==================== */

/* ==================== end music-sound__lyrics ==================== */


/* ==================== music-sound__lists ==================== */

.music-sound__lists {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.btn-icon-lists::before {
    content: "คิวเพลง";
    position: absolute;
    top: -15px;
    left: 97.5%;
    transform: translate(-50%);
    padding: 5px 5px 2px 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s;
}

label.btn-icon-lists:hover::before {
    opacity: 1;
}

/* ==================== music-sound__lists__btn-icon-lists ==================== */

input#check-icon-lists {
    display: none;
}

label.btn-icon-lists::after {
    width: 30px;
    height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f550";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.4s;
}

label.btn-icon-lists:hover::after {
    color: rgb(255, 255, 255);
}

.lists-song__rank {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 1599px;
    height: 0;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    transition: all 1s;
}

input#check-icon-lists:checked ~ .lists-song__rank {
    height: 450px;
}

.lists-song__rank__music {
    width: 60%;
    height: 80%;
}

/* ==================== music-sound__lists__lists-song__rank__music__topic ==================== */

.lists-song__rank__music__topic {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists-song__rank__music__topic__queue span {
    color: rgb(229, 229, 229);
    font-size: 1.375rem;
    font-weight: 600;
    cursor: default;
}

button.lists-song__rank__music__topic__btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(188, 188, 188);
    background-color: rgb(22, 22, 22);
    color: rgb(229, 229, 229);
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

button.lists-song__rank__music__topic__btn:hover {
    background-color: rgb(229, 229, 229);
    color: rgb(22, 22, 22);
}

button.lists-song__rank__music__topic__btn span {
    margin-left: 5px;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists ==================== */

.lists-song__rank__music__lists {
    height: 280px;
    margin-top: 20px;
    overflow-y: scroll;
}

.lists-song__rank__music__lists::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(22, 22, 22);
}

.lists-song__rank__music__lists::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color:#111111;
}

.lists-song__rank__music__lists__name__icon__wrap {
    width: 930px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name ==================== */

.lists-song__rank__music__lists__name {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name::before {
    content: "1";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-two ==================== */

.lists-song__rank__music__lists__name-two {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-two::before {
    content: "2";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-two:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-two ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-three ==================== */

.lists-song__rank__music__lists__name-three {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-three::before {
    content: "3";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-three:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-three ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-four ==================== */

.lists-song__rank__music__lists__name-four {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-four::before {
    content: "4";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-four:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-four ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-five ==================== */

.lists-song__rank__music__lists__name-five {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-five::before {
    content: "5";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-five:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-five ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-six ==================== */

.lists-song__rank__music__lists__name-six {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-six::before {
    content: "6";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-six:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-six ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-seven ==================== */

.lists-song__rank__music__lists__name-seven {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-seven::before {
    content: "7";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-seven:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-seven ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-eight ==================== */

.lists-song__rank__music__lists__name-eight {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-eight::before {
    content: "8";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-eight:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-eight ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-nine ==================== */

.lists-song__rank__music__lists__name-nine {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-nine::before {
    content: "9";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-nine:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-nine ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name-ten ==================== */

.lists-song__rank__music__lists__name-ten {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    cursor: pointer;
}

.lists-song__rank__music__lists__name-ten::before {
    content: "10";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.lists-song__rank__music__lists__name-ten:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    font-size: 30px;
    color: rgb(229, 229, 229);
}

.lists-song__rank__music__lists__name-ten ul li {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__name__icon__time ==================== */

/* ==================== music-sound__lists__lists-song__rank__music__lists__name ==================== */

.lists-song__rank__music__lists__name--mod1 {
    color: rgb(220, 219, 219);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 8px;
    transition: color 0.1s;
}

.lists-song__rank__music__lists__name--mod1:hover {
    color: #09de6e;
}

.lists-song__rank__music__lists__name--mod2 {
    color: rgb(149, 149, 149);
    font-size: 0.8em;
    transition: color 0.1s;
}

.lists-song__rank__music__lists__name--mod2:hover {
    color: rgb(229, 229, 229);
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__icon ==================== */

.lists-song__rank__music__lists__icon {
    width: 150px;
    height: 60px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.btn-icon-list-song__rank {
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(22, 22, 22);
    outline: none;
    cursor: pointer;
}

.btn-icon__rank__star::after {
    width: 40px;
    height: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.btn-icon-list-song__rank:hover .btn-icon__rank__star::after {
    color: rgb(229, 229, 229);
}

.btn-icon__rank__bin::after {
    width: 40px;
    height: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f793";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.btn-icon-list-song__rank:hover .btn-icon__rank__bin::after {
    color: rgb(229, 229, 229);
}

.btn-icon__rank__share::after {
    width: 40px;
    height: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14d";
    font-style: normal;
    font-size: 16px;
    color: rgb(135, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.btn-icon-list-song__rank:hover .btn-icon__rank__share::after {
    color: rgb(229, 229, 229);
}

/* ==================== music-sound__lists__lists-song__rank__music__lists__time==================== */

.rank__time {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: rgb(229, 229, 229);
    cursor: default;
}

/* ==================== end music-sound__lists ==================== */

/* ==================== end music-sound ==================== */



/* ==================== end music-player ==================== */

/* ==================== end section box-sec-wrap ==================== */

/* ==================== end content ==================== */

/* ==================== end sidebar-content ==================== */





/* responsive ยังไม่ได้ทำ */





/* ================================= ทดสอบ ================================================= */

/* ~ */

/* ตัวอย่างการกำหนด content ใน::before เพื่อเปลี่ยนเป็น icon */

/* .box-one-nav ul li {
    display: flex;
}

.box-one-nav ul li a {
    margin-left: 10px;
}

.box-one-nav ul li:nth-child(1)::before {
    content: "1";
    color: #fff;
}

.box-one-nav ul li:nth-child(2)::before {
    content: "2";
    color: #fff;
}

.box-one-nav ul li:nth-child(3)::before {
    content: "3";
    color: #fff;
}

.box-one-nav ul li:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    color: #09de6e;
} */